@import url(portfolio.css);
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    --primaryColor: rgb(95, 180, 162);
    --primaryColor2: rgb(32, 58, 76);
    --primaryColor3: rgb(51, 50, 61);
    --secodaryColor: white;
    --secondaryColor2:rgb(234, 234, 235);
    --secondaryColor3: rgb(244, 48, 48);
}
$Ibarra:'Ibarra Real Nova', serif;
$Public:'Public SAns', serif;
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;    
}
.container {
    width: 1110px;
    margin: auto;
    margin-top: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav__list {
    display: flex;
    font-family: $Public;
    gap: 30px;
}
.nav__link {
    color: var(--primaryColor2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav__link:hover {
    color: var(--primaryColor);
}
.nav__link:active {
    color: #949494;
}
.bg img {
    width: 540px;
    height: 500px;
    transition: all 0.4s ease-in-out;
}
.bg img:hover {
    box-shadow: 10px 10px grey;
}
.bg {
    display: flex;
    margin-top: 100px;
}
.content {
    padding-top: 120px;
    width: 350px;
    height: 380px;
    border-bottom: 2px solid #949494;
    margin-left: 100px;
    border-top: 2px solid #949494;
}
.content h1 {
    font-family: $Ibarra;
    padding-bottom : 20px;
    color: var(--primaryColor2);
}
.content p {
    font-family: $Public;
    line-height: 30px;
    color: #949494;
}
.content button {
    background-color: aliceblue;
    width: 175px;
    height: 48px;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
}
.content button:hover {
    background-color: #949494;
    color: black;
}
.content button:active {
    background-color: black;
    color: white;
}
.bg1 img {
    width: 540px;
    height: 500px;
    transition: all 0.4s ease-in-out;
}
.bg1 img:hover {
    box-shadow: 10px 10px grey;
}
.bg1 {
    display: flex;
    margin-top: 100px;
}
.content1 {
    padding-top: 120px;
    width: 350px;
    height: 380px;
    border-bottom: 2px solid #949494;
    margin-right: 100px;
    border-top: 2px solid #949494;
}
.content1 h1 {
    font-family: $Ibarra;
    padding-bottom : 20px;
    color: var(--primaryColor2);
}
.content1 p {
    font-family: $Public;
    line-height: 30px;
    color: #949494;
}
.content1 button {
    background-color: aliceblue;
    width: 175px;
    height: 48px;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
}
.content1 button:hover {
    background-color: #949494;
    color: black;
}
.content1 button:active {
    background-color: black;
    color: white;
}
.bg2 img {
    width: 540px;
    height: 500px;
    transition: all 0.4s ease-in-out;
}
.bg2 img:hover {
    box-shadow: 10px 10px grey;
}
.bg2 {
    display: flex;
    margin-top: 100px;
}
.content2 {
    padding-top: 120px;
    width: 350px;
    height: 380px;
    border-bottom: 2px solid #949494;
    margin-left: 100px;
    border-top: 2px solid #949494;
}
.content2 h1 {
    font-family: $Ibarra;
    padding-bottom : 20px;
    color: var(--primaryColor2);
}
.content2 p {
    font-family: $Public;
    line-height: 30px;
    color: #949494;
}
.content2 button {
    background-color: aliceblue;
    width: 175px;
    height: 48px;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
}
.content2 button:hover {
    background-color: #949494;
    color: black;
}
.content2 button:active {
    background-color: black;
    color: white;
}
.bg3 img {
    width: 540px;
    height: 500px;
    transition: all 0.4s ease-in-out;
}
.bg3 img:hover {
    box-shadow: 10px 10px grey;
}
.bg3 {
    display: flex;
    margin-top: 100px;
    gap: 100px;
}
.content3 {
    padding-top: 120px;
    width: 350px;
    height: 380px;
    border-bottom: 2px solid #949494;
    margin-left: 100px;
    border-top: 2px solid #949494;
}
.content3 h1 {
    font-family: $Ibarra;
    padding-bottom : 20px;
    color: var(--primaryColor2);
}
.content3 p {
    font-family: $Public;
    line-height: 30px;
    color: #949494;
}
.content3 button {
    background-color: aliceblue;
    width: 175px;
    height: 48px;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
}
.content3 button:hover {
    background-color: #949494;
    color: black;
}
.content3 button:active {
    background-color: black;
    color: white;
}
.foot {
    margin-top: 100px;
    display: flex;
    width: 1110px;
    height: 84px;
    justify-content: space-between;
}
.foot button {
    border: 1px solid --primaryColor2;
    transition: all 0.4s ease-in-out;
}
.foot button:hover {
    background-color: var(--primaryColor3);
    color: white;
}
.foot button:active {
    background-color: #949494;
    color: black;
}
.btn3 {
    margin-top:20px;
    width: 162px;
    height: 48px;
    font-family: $Ibarra;
    font-size: 20px;
}
.foot h1 {
    font-family: $Ibarra;
    color: var(--primaryColor2);
}
.nav__list1 {
    padding: 30px;
    display: flex;
    font-family: $Public;
    gap: 40px;
}
.nav__link1 {
    font-family: $Public;
    font-size: 20px;
    color: var(--secondaryColor2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav__link1:hover {
    color: var(--primaryColor);
}

.footer2 {
    margin-top: 80px;
    display: flex;
    padding-left: 100px;
    background-color: var(--primaryColor3);
    width: 1100;
    height: 80px;
}
.footer2 img {
    width: 61px;
    height: 32px;
    padding: 30px;
}
.icons1 {
    padding-left: 400px;
    padding-top: 10px;
}
